:root {
 --primary-background-color: rgb(232, 229, 229);
 --header-text-color: black;
 --footer-text-color: white;
}

* {
    box-sizing: border-box;
   
  }

  body {
    font-style: sans-serif;
  }

header {
    /* padding: 20px 35px; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    background-image: url("../../images/background-image.webp");
    background-size: cover;
    z-index: 9999;
}

header h1 {
    text-align: center;
    margin: 0;
    font-size: 40px;
}

header a {
    color: var(--header-text-color);
    text-decoration: none;
}

.hero-section {
    background-image: url("../../images/background-image.webp");
    background-position: center;
    background-size: cover;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    background-blend-mode: overlay;
    margin-bottom: 0;
    /* height: 400px;   */
    /* background-size:cover; */
    display:flex;
    justify-content: right;
}

.text-content, .input-field {
    text-align: right;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
  }

.input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

.input-field input {
    color:white;
  }

.input-field {
    margin-top: 30px;
}

.text-and-input {
    margin-top: 50px;
    
}

.carousel {
    background-color: var(--primary-background-color);
    
}

.currently-popular {
    text-align: center;
    background-color: var(--primary-background-color);
    color: black;
    margin-bottom: 0;
}

.carousel-item{
    background-image: url("../../images/carousel.png");
    background-size: cover;
    opacity: 0.5;
}

.history {
    /* color: var(--); */
    display: flex;
    justify-content: left;
}

.history p {
    
}

footer {
  background-color:gold;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;

}

/* footer h2 {
    font-size: 20px; 

} */

footer a {
   color: black;
   text-decoration: none;
}

footer a:hover {
   color: red;
}

.top-navigation {
   padding: 20px 35px;
   display: flex;
   flex-wrap: wrap;
   
}